<body>
    <header>
        <nav class="top-bar">
            <ul>
                <li><a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a></li>
                <li><a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">Add Users</a></li>
            </ul>
        </nav>